<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    -->
  
  <!-- Orignal Hosting-->
  
    <!--<connectionStrings>
      <add name="sinaDbEnt" connectionString="metadata=res://*/Models.sinadb.csdl|res://*/Models.sinadb.ssdl|res://*/Models.sinadb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.47.19;initial catalog=SinaQuery;user id=SinaQuery;password=46Eksf_7;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="SINADBConnectionString" connectionString="Data Source=184.168.47.19;Initial Catalog=SinaQuery;Persist Security Info=True;User ID=SinaQuery;Password=46Eksf_7;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>-->
  
  
  
  <!-- free Hosting-->
  
  <connectionStrings>
    <add name="sinaDbEnt" connectionString="metadata=res://*/Models.sinadb.csdl|res://*/Models.sinadb.ssdl|res://*/Models.sinadb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SinaQuery.mssql.somee.com;initial catalog=SinaQuery;user id=abdullahdotnet_SQLLogin_1;password=5cfdjz3ybp;multipleactiveresultsets=True;application name=EntityFramework&quot;"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SINADBConnectionString" connectionString="Data Source=SinaQuery.mssql.somee.com;Initial Catalog=SinaQuery;Persist Security Info=True;User ID=abdullahdotnet_SQLLogin_1;Password=5cfdjz3ybp;MultipleActiveResultSets=True;Application Name=EntityFramework"
    providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>